version: "3.8"
services:
  backend:
    build: .
    restart: always
    ports:
      - "8080:8080"
  mysql:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_db
    ports:
    - "3307:3306"
    cap_add:
      - SYS_NICE
    volumes:
      - ./MysqlDB/userprofiles.sql:/docker-entrypoint-initdb.d/dump.sql